//-
    CREATED by          Gorthian
    Letzte Änderung		2025-03-04

//
    ********************************
    * START src/html/rolltemplates.pug
    ********************************

//
    ********************************
    * ENDE src/html/rolltemplates.pug
    ********************************