//-
    CREATED by          Gorthian
    Letzte Änderung		2025-03-22

//
    ********************************
    * START src/html/rolltemplates.pug
    ********************************

rolltemplate(class="sheet-rolltemplate-attributsprobe")
    div(class="sheet-template-container")
    div(class="sheet-template-header") {{attribut}} vs {{attributswert}}
    div(class="sheet-template-row") {{wurf}}
    div(class="sheet-template-desc") Text

//
    ********************************
    * ENDE src/html/rolltemplates.pug
    ********************************