//-
    CREATED by          Gorthian
    Letzte Änderung		2025-03-04

//
    ********************************
    * START src/html/sheet.pug
    ********************************

div(class="sheet-horde")
    div(class="sheet-kopfzeile") Logo / Name / Lebenspunkte & Klasse 
    div(class="sheet-attribute") Attribute
    div(class="sheet-staerken-schwaechen-notizen")
        div(class="sheet-starken-schwaechen") Stärken & Schwächen 
        div(class="sheet-notizen") Notizen 
    div(class="sheet-portrait-vergangenheit-inventar")
        div(class="sheet-portrait") Charakterbild
        div(class="sheet-vergangenheit") Vergangenheit
        div(class="sheet-inventar") Waffen / Accessoires

//
    ********************************
    * ENDE src/html/sheet.pug
    ********************************