//-
    CREATED by          Gorthian
    Letzte Änderung		2025-03-04

//
    ********************************
    * START src/html/sheet.pug
    ********************************

//- MIXINs
mixin attribut(attribut)
    // MIXIN : src/html/sheet.pug : attribut
    div(class="sheet-attribut")
        h1(data-i18n=attribut)
        input(type="number" value="" name="attr_"+attribut)
        span(data-i18n="basis")
        span(data-i18n="bonus")
        input(type="number" value="" name="attr_"+attribut+"_bonus")

mixin item(item)
    // MIXIN : src/html/sheet.pug : item
    div(class="sheet-item")
        label(for="attr_"+item data-i18n=item)
        input(type="text" value="" name="attr_"+item)

div(class="sheet-horde")
    div(class="sheet-kopfzeile")
        div(class="sheet-logo") Logo 
        div(class="sheet-name")
            span(data-i18n="name")
            input(type="text" value="" name="attr_character_name")
        div(class="sheet-health")
            span(data-i18n="health")
            input(type="number" value="" name="attr_hp")
            input(type="number" value="" name="attr_hp_max")
        div(class="sheet-klasse")
            span(data-i18n="klasse")
            input(type="text" value="" name="attr_klasse") 
    div(class="sheet-attribute")
        +attribut("intelligenz")
        +attribut("mut")
        +attribut("koerperkraft")
        +attribut("geschick")
        +attribut("charisma")
    div(class="sheet-staerken-schwaechen-notizen")
        div(class="sheet-staerken-schwaechen")
            div(class="sheet-staerken") 
                h1(data-i18n="staerken")
                textarea(name="attr_staerken" value="")
            div(class="sheet-schwaechen") 
                h1(data-i18n="schwaechen")
                textarea(name="attr_schwaechen" value="")
        div(class="sheet-notizen")
            h1(data-i18n="notizen")
            textarea(name="attr_notizen" value="")
    div(class="sheet-portrait-vergangenheit-inventar")
        div(class="sheet-portrait")
            img(name="attr_character_avatar")
            span(data-i18n="info-charakterbild")
        div(class="sheet-vergangenheit") 
            h1(data-i18n="vergangenheit")
            textarea(name="attr_vergangenheit" value="")
        div(class="sheet-inventar") 
            h1(data-i18n="waffen-accessoirs")
            +item("linke-hand")
            +item("rechte-hand")
            +item("finger-1")
            +item("finger-2")
            +item("hals")
            +item("ruecken")
            h1(data-i18n="rucksack")
            textarea(name="attr_rucksack" value="")


//
    ********************************
    * ENDE src/html/sheet.pug
    ********************************