//-
    CREATED by          Gorthian
    Letzte Änderung		2025-03-04

//
    ********************************
    * START src/html/sheet.pug
    ********************************

div(class="sheet-horde") Hier könnte Dein Inhalt stehen

//
    ********************************
    * ENDE src/html/sheet.pug
    ********************************